footer {
  background-color: var(--card-color);
  position: fixed;
  bottom: 0;
  width: 100%;
  padding: 22px 40px;

  nav ul {
    display: flex;
    justify-content: space-between;
    align-items: center;
    list-style: none;
    padding: 0;
    margin: 0;

    li {
      margin: 0 1rem;
    }
  }
}
