<div class="rounded" (click)="activateInput()">
  <span *ngIf="this.scheduledTask && scheduledTask.timestamp " class="day">{{getDay(scheduledTask.timestamp)}}</span>
  <div class="time">
    <img src="../../../assets/Clock.svg" alt="clock">
    <span *ngIf="this.scheduledTask && scheduledTask.timestamp "
      class="hour">{{formatDate(scheduledTask.timestamp)}}</span>
  </div>
</div>

<input #inputScheduleDate (change)="onDateChange($event)" type="date" class="customDateInput">
<input #inputScheduleTime (change)="onTimeChange($event)" type="time" class="customDateInput">