<div class="rounded" (click)="activateInput()">
  @if (this.scheduledTask && scheduledTask.timestamp ) {
    <span class="day">{{getDay(scheduledTask.timestamp)}}</span>
  }
  <div class="time">
    <img src="../../../assets/Clock.svg" alt="clock">
    @if (this.scheduledTask && scheduledTask.timestamp ) {
      <span
      class="hour">{{formatDate(scheduledTask.timestamp)}}</span>
    }
  </div>
</div>
<input #inputScheduleDate (change)="onDateChange($event)" type="date" class="customDateInput">
<input #inputScheduleTime (change)="onTimeChange($event)" type="time" class="customDateInput">