@import url("https://fonts.googleapis.com/css2?family=IBM+Plex+Mono:wght@300;400;500;600;700&display=swap");
:root {
  --background-color: #dff2fb;
  --card-color: #234d69; // #61684F
  --active-color: #287d09;
  --button-color: #41a2b7;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: var(--background-color);
}

@font-face {
  font-family: "Segoe UI";
  src: url(./assets/font/Segoe\ UI.ttf);
}

button {
  border-radius: 5px;
  background: #41a2b7;
  border: none;
  font-weight: 600;
  font-style: normal;
  font-family: IBM Plex Mono;
  padding: 0.2em 0.5em;
  line-height: normal;
}
