<div class="history">
  <h3>Historique des actions</h3>
  <ul>
    <li *ngFor="let action of history">
      <img *ngIf="action.action=='ac'" class="logoContext" src="../../../assets/aC.svg" alt="electric pump">
      <img *ngIf="action.action=='charge'" class="logoContext" src="../../../assets/Charge.svg" alt="electric pump">
      <span class="date">{{formatDate(action.created_at)}}</span>
      <span class="time">{{formatHour(action.created_at)}}</span>
      <div class="title">{{action.action}}</div>
      <img *ngIf="!action.success" src="../../../assets/Failed.svg" alt="Failed">
      <img *ngIf="action.success" src="../../../assets/Success.svg" alt="Success">
    </li>
  </ul>
</div>